* {
  margin: 0;
  padding: 0;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(49, 0, 95);
}
li {
  list-style-type: none;
}
.ul {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.nav {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
.ml {
  color: #fff;
  margin-left: 400px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
.mr {
  color: #fff;
  margin-right: 400px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
