.modal {
  background-color: #e74c3c;
  width: 600px;
  margin: 0 auto;
  position: absolute;
  left: 35%;
  height: 300px;
  border-radius: 10px;
  margin-top: -309px;
}
.modalTitle {
  padding-top: 26px;
  text-align: center;
  font-size: 22px;
  color: #fff;
}
.modalFirstText {
  margin-top: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
.modalSecondText {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  margin-top: 66px;
}
.modalFirstButton {
  margin-top: 44px;
  background-color: #b3382c;
  color: #ffffff;
  width: 100px;
  height: 42px;
  border-color: #b3382c;
  margin-left: 204px;
  margin-bottom: 24px;
}
.modalSecondButton {
  margin-left: 9px;
  background-color: yellow;
  width: 100px;
  height: 42px;
  border-color: yellow;
}
.modalX {
  color: #ffffff;
  position: absolute;
  left: 564px;
  font-size: 30px;
}

.secondModal {
  background-color: green;
  width: 517px;
  margin: 0 auto;
  border-radius: 30px;
}

.secondModalFirstButton {
  margin-top: 24px;
  background-color: purple;
  color: #ffffff;
  width: 100px;
  height: 42px;
  border-color: #b3382c;
  margin-left: 152px;
  margin-bottom: 24px;
}
.secondModalSecondButton {
  margin-left: 9px;
  background-color: purple;
  color: #ffffff;
  width: 100px;
  height: 42px;
  border-color: #b3382c;
}
