* {
	/* m0 */
	margin: 0;
	padding: 0;
}

body {
	/* ffss */
	font-family: sans-serif;
}

.container {
	/* w1170 */
	width: 1170px;
	margin: 0 auto;
}

.hero {
	background-image: url(../img/header-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* padding-top: 528px;
    padding-left: 224px;
    padding-bottom: 133px; */
	padding: 528px 0 133px 224px;
	color: white;
}
img {
	list-style: none;
}
.hero-title {
	/* fwb */
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	/* color: white; */
	/* mb16 */
	margin-bottom: 16px;
	text-transform: uppercase;
}

.hero-subtitle {
	font-size: 18px;
	line-height: 22px;
	/* color: white; */
	margin-bottom: 22px;
}

.hero-slogan {
	/* display: inline-block; */
	width: max-content;
	font-weight: bold;
	font-size: 54px;
	line-height: 66px;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 38px 31px;
	/* padding-right: 31px; */
	border: 1px solid white;
}
/* 
.span {
	padding: 38px 23px 38px 31px;
	border-right: 1px solid;
	display: inline-block;
	margin-right: 23px;
} */

.nav {
	padding-bottom: 22px;
	border-bottom: 3px solid #f48e0b;
	margin-top: 100px;
	margin-bottom: 100px;
}

.nav-title {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	margin-right: 189px;
}

.nav-menu {
	display: inline-block;
}

.nav-menu-item {
	display: inline-block;
	margin-left: 69px;
}

.nav-menu-link {
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	color: black;
	/* background-color: orange; */
	/* margin: 35px; */
}

.yellow-text {
	color: #f48e0b;
}

/* .test {
	background-color: red;
	padding: 20px;
	display: inline-block;
} */