.cardsStyle {
  border: 1px solid blue;
  min-width: 505px;
}
.firstH1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 45px;
}
.images:only-child {
  margin: 0 auto;
  margin-top: 25px;
}
.secondP {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}
.priceP {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-left: 20px;
  font-size: 30px;
}
