.modal{
    background-color: #E74C3C;
    width: 517px;
    margin: 0 auto;
}
.basicModal::before{
    content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: -1;
}
.modalTitle{
    padding-top: 26px;
    margin-left: 31px;
    font-size: 22px;
    color: #fff;
}
.modalFirstText{
    margin-top: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}
.modalSecondText{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}
.modalFirstButton{
    margin-top: 24px;
    background-color: #B3382C;
    color: #ffffff;
    width: 100px;
    height: 42px;
    border-color: #B3382C;
    margin-left: 152px;
    margin-bottom: 24px;
}
.modalSecondButton{
    margin-left: 9px;
    background-color: yellow;
    width: 100px;
    height: 42px;
    border-color: yellow;   
}
.modalX{
    color: #ffffff;
    position: absolute;
    left: 597px;
    font-size: 30px;
    top: 7px;
}

.secondModal{
    background-color: green;
    width: 517px;
    margin: 0 auto;
    border-radius: 30px;
}

.secondModalFirstButton{
    margin-top: 24px;
    background-color: purple;
    color: #ffffff;
    width: 100px;
    height: 42px;
    border-color: #B3382C;
    margin-left: 152px;
    margin-bottom: 24px;
}
.secondModalSecondButton{
    margin-left: 9px;
    background-color: purple;
    color: #ffffff;
    width: 100px;
    height: 42px;
    border-color: #B3382C;   
}