.cardsStyle {
  min-width: 505px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.firstH1 {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
.images:only-child {
  margin: 0 auto;
  margin-top: 25px;
}
.border{
  border: 1px solid blue;
}
.secondP {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.priceP {
  font-weight: bold;
  margin-left: 20px;
  font-size: 30px;
  margin-bottom: 40px;
}
