body{
  font-family: 'Roboto', sans-serif;
}
.cartDiv {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  margin-bottom: 30px;
  min-width: 1270px;
}
.marginLeft{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.marginRight{
  margin-right: 35px;
}
.noItems{
  text-align: center;
  margin-top: 15px;
}
.pages{
  margin-top: 10px;
  text-align: center;
  border-bottom: 2px solid grey;
}
.cancel{
  position: absolute;
  left: 1350px;
  margin-top: 20px;
  font-size: 30px;
}