/* :root {
	--mainLightColor: yellow;
	--main-dark_color: gold;
	--p-2: 10px;
	--p-3: 22px;
	--p-4: 10px;
	--space-cadet: #2b2d42ff;
	--cyclamen: #e86a92ff;
	--middle-yellow: #f7e733ff;
	--cultured: #f7f7f9ff;
	--medium-aquamarine: #41e2baff;
	--main-gradient: linear-gradient(270deg, #2b2d42ff, #e86a92ff, #f7e733ff, #f7f7f9ff, #41e2baff);
} */

/* a { */
/* color: black; */
/* color: rgba(255, 0, 0, 0.5); */
/* color: var(--mainLightColor); */
/* } */
body {
	/* background-image: var(--main-gradient); */
	/* background-color: var(--cyclamen); */
}

.icon path {
	fill: aquamarine;
}

.icon-path:hover {
	fill: red;
}

/* .svgs-wrap { */
/* display: none; */
/* } */

.block {
	/* background-color: #ff3cac;
	background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%); */
	/* background:  url('./img') center no-repeat / cover ; */
	padding: 25px;
	/* opacity: 0; */
	/* transition: opacity 0.5s; */
	/* display: none;
	pointer-events: none; */
}

p {
	color: #fff;
}

input:checked + .block {
	background-color: red;
	opacity: 1;
}

/* input:not(:checked) + .block {
	display: none;
} */
