.buttons {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 24px 111px 24px 111px;
  font-size: 20px;
  margin-left: 20px;
  border-radius: 10px;
}
.buttonDiv {
  display: flex;
  margin-bottom: 50px;
}
svg {
  color: grey;
}
