.cardsStyle {
  min-width: 505px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.border{
  border: 1px solid blue;
  min-width: 487px;
  margin-top: 30px;
}
.textAlign{
  margin-top: 20px;
  text-align: center;
}
.noItems{
  margin-top: 50px;
  text-align: center;
}
.removeButton{
  margin-top: 25px;
  margin-left: 80px;
  border-color: blue;
  background: blue;
  width: 300px;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  border-radius: 5px;
}
.firstH1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 45px;
}
.secondP {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.priceP {
  font-weight: bold;
  margin-left: 20px;
  font-size: 30px;
  margin-bottom: 40px;
}