.emails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 36px;
}
.email__container {
  display: flex;
  width: 60%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 14px;
  margin: 20px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
