* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

section {
	margin: 100px 0;
}

.title {
	text-align: center;
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	background-image: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
	color: transparent;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info-wrapper {
	width: 1200px;
	margin: 25px auto;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
	display: flex;
	/* column-gap: 50px; */
    justify-content: space-between;
}

.info-number {
	padding: 22px;
	color: #f7f7fa;
	font-size: 36px;
	line-height: 28px;
	background: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
	border-radius: 6px;
	margin-bottom: 26px;
}

.info-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #031d5b;
	margin-bottom: 50px;
	position: relative;
}

.info-title::after {
	content: '';
	bottom: -29px;
	left: 0;
	width: 72px;
	height: 4px;
	position: absolute;
	background: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%);
}

.info-text {
	line-height: 28px;
	color: #3a3a44;
}
