.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left:0;
}

.background {
  position: absolute;
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  z-index: -1;
}

v